#searchLocation,
#currentWeekDay,
#currentTime,
#currentTemperature,
#units,
.currentSummary,
#currentLocation,
.currentWeatherDetails,
.tableText {
  font-family: "Montserrat", sans-serif;
  color: #283655;
}

#currentWeekDay,
#currentTime,
#currentLocationButton,
#searchButton {
  font-size: 16px;
}

#currentTemperature {
  font-size: 100px;
}

.currentSummary {
  padding-top: 20px;
}

.currentWeatherIcon {
  width: 65px;
}

.currentWeatherDetails {
  font-size: 10px;
  padding-top: 13px;
}

.nextDaysWeatherIcons {
  padding: 5px 0;
}

.tableText {
  font-size: 12px;
}

#units {
  position: relative;
  top: -60px;
}

div#currentWeekDay,
div#currentTime {
  position: relative;
  left: 6px;
}

#currentLocationButton,
#searchButton {
  border-radius: 50px !important;
}

#searchButton {
  background-color: #283655;
  color: white;
  border: none;
  margin: 0 6px;
}

#searchButton:hover {
  background: rgb(52, 74, 114);
}

#currentLocationButton {
  border-color: #283655;
  background-color: white;
  color: #283655;
}

#currentLocationButton:hover {
  background-color: #283655;
  color: white;
}

#searchLocation {
  background-color: rgb(233, 235, 240);
  border: none;
  border-radius: 10;
}

#repositoryLink {
  font-size: 12px;
  padding-top: 5px;
}

.weather-app {
  border: 1px solid #DFE1E5;
  border-radius: 8px;
  padding: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.row {
  padding: 10px 20px;
}

.card-body {
  padding: 0px;
}

#forecast-table {
  border-top: 1px solid black;
  margin: 0px 30px;
  padding: 5px 0px 0px 0px;
  text-align: center;
}